<%- include('partials/_header.ejs') -%>

<body>

  <!-- Navigation -->
  <%- include('partials/_navigation.ejs') -%>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('/img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1> <%= post.title %> </h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p> <%= post.detail %> </p>
        </div>
      </div>
      <div class="col-lg-8 col-md-10 mx-auto">
        <a href="/edit_post/<%- post.id -%>"><button class="btn btn-primary" >Güncelle</button></a>
        <a href="/post/<%- post.id -%>?_method=DELETE" onclick="confirm('Onaylıyor musun?')"><button class="btn btn-primary" >Sil</button></a>
      </div>
    </div>
  </article>

  <hr>
  <%- include('partials/_footer.ejs') -%>


</body>

</html>
